html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.welcomeContainer {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  height: 90px;
}

.welcomeText {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
.button {
  margin-top: 21px;
  padding: 5px 20px;
  margin-right: 10px;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: darkblue;
  color: white;
  border: none;
  cursor: pointer;
}


.buttonall {
  display: flex;
  gap: 10px;
}

.button:hover {
  background-color: rgba(22, 136, 136, 0.918);
  color: white;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.background {
  
  background-color: rgb(227, 241, 241);
  min-height: 100vh;
}
.greet {
  font-size: 15px;
  margin-left: 200px;
  margin-top: -15px;
}
.taskItem {
  background-color: #f0f0f0ea;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;
}

.buttontaskall {
  margin-right: 10px;
  display: flex;
  gap: 10px;
}

.buttontask1,
.buttontask2,
.buttontask3 {
  padding: 10px 20px;
  height: 40px;
  border-radius: 5px;
  background-color: darkblue;
  color: white;
  border: none;
  cursor: pointer;
}
.buttontask1:hover {
  background-color: rgb(74, 148, 177);
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.buttontask2:hover {
  background-color: red;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.buttontask3:hover {
  background-color: rgba(23, 143, 12, 0.808);
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.taskD {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.taskName {
  flex: 1;
}

.dated {
  margin-right: 50%; 
  white-space: nowrap; 
}

.loader {
  width: calc(100px - 14px);
  height: 50px;
  border-radius: 50px;
  background: 
   radial-gradient(farthest-side,#0000 calc(100% - 15px),#ccc calc(100% - 14px) 99%,#0000) left,
   radial-gradient(farthest-side,#0000 calc(100% - 15px),#ccc calc(100% - 14px) 99%,#0000) right;
  background-size: calc(50% + 7px) 100%;
  background-repeat: no-repeat;
  position: fixed;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  animation: l10-0 1s infinite linear;
}

.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto; 
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #02343d;
  transform-origin: -14px 50%;
  animation: l10-1 0.5s infinite linear;
}

@keyframes l10-0 { 
    0%,49.99% { transform:scaleX(1)}
    50%,100% { transform:scaleX(-1)} 
}

@keyframes l10-1 { 
    100% { transform:rotate(1turn)} 
}
