.taskDetails{
    margin-top: 15px;
    padding: 2px 20px;
    margin-right: 10px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(190, 85, 15);
    color: white;
    border: none;
    cursor: pointer;
  }
  .taskDetails:hover{
    background-color: rgb(8, 104, 44);
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  .tasky{
    display: flex;
    flex-direction: row-reverse;
    background-color:aliceblue;
    height: 70px;
    padding-bottom: 5px;
  }