html,
body {
  margin: 0;
  padding: 0;
}

.header {
  margin: 0;
  color: aliceblue;
  font-family: "Matemasie", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.navall {
  background-color: rgba(98, 136, 180, 0.856);
  height: 50px;
  margin-top: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(209, 51, 11);
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}
.button:hover{
  background-color: red;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.name{
    margin-left: 10px;
}
