html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.welcomeuser {
  background-color: aliceblue;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  padding-left: 10px;
}
.button {
  margin-top: 21px;
  padding: 10px 20px;
  margin-right: 10px;
  height: 40px;
  border-radius: 5px;
  background-color: darkblue;
  color: white;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(22, 136, 136, 0.918);
  color: white;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.background {
  background-color: rgb(227, 241, 241);
  min-height: 100vh;
}
.greet {
  font-size: 15px;
  margin-left: 200px;
  margin-top: 1px;
}
.taskItem {
  background-color: #f0f0f0;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;
}

.buttontaskall {
  margin-right: 10px;
  display: flex;
  gap: 10px;
}

.buttontask1,
.buttontask2,
.buttontask3 {
  padding: 10px 20px;
  height: 40px;
  border-radius: 5px;
  background-color: darkblue;
  color: white;
  border: none;
  cursor: pointer;
}
.buttontask1:hover {
  background-color: rgb(74, 148, 177);
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.buttontask2:hover {
  background-color: red;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.buttontask3:hover {
  background-color: rgba(23, 143, 12, 0.808);
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
